#addNewBlocks{
    background: blueviolet;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;

}
#flexbox{
    background: blueviolet;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
}
#spaceBetween{
    background: blueviolet;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
}
#center{
    background: blueviolet;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
}
.box{
    width: 150px;
    height: 150px;
    background: darkgreen;
    margin-top: 30px;
    margin-right: 20px;

}
#appendDiv.flex{
    display: flex;
}

#appendDiv.between{
    justify-content: space-between;
}

#appendDiv.center{
    justify-content: center;
}